.LandingContainer {
  margin-top: 60px;
}

.HeaderWrap {
  padding-left: 140px;
  padding-top: 220px;
  height: 64.5vh;
  background: linear-gradient(to right, #0575e6, #400ccc);
}

.HeaderTitle {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.HeaderText {
  color: #fff;
  width: 45%;
}

.AboutSectionContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.FooterContainer {
  margin-top: 40px;
  width: 100%;
  background: url("../../assets/img/footerBg.svg") no-repeat;
  background-size: 100%;
  height: 380px;
  color: #fff;
  background-size: cover;
  background-position: center top;
}

.FooterContainer a {
  color: #fff;
  text-decoration: none;
}

.FooterContainer .MuiListItem-button {
  padding-left: 6px;
  padding-right: 10px;
}

.MuiSvgIcon-root {
  fill: #fff !important;
}

.MuiListItemIcon-root {
  padding: 0;
}

.FooterLeft,
.FooterRight,
.FooterMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FooterRight {
  padding-top: 130px;
}

.FooterMiddle {
  padding-top: 70px;
}

.FooterLeft {
  padding-top: 80px;
}

.FooterList {
  max-width: 280px;
}

.FooterNestedList {
  padding-left: 40px;
}

.FooterNestedList .MuiListItemText-root {
  font-size: 14px;
}

.MuiGrid-container {
  padding-left: 140px;
}

.MuiCollapse-wrapper {
  padding-left: 140px;
}

.CounterWrap {
  display: flex;
  padding: 30px 140px;
  background: linear-gradient(
    110deg,
    rgb(82, 252, 238) 33.33%,
    rgb(82, 253, 230) 33.33%,
    rgb(69, 196, 255) 66.66%,
    rgb(98, 179, 245) 66.66%
  );
  background-size: cover;
  height: 240px;
  margin-bottom: 80px;
  position: relative;
}

.Counter {
  width: 33%;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.Counter h1 {
  text-align: center;
  font-size: 72px;
  margin-bottom: 0;
}

.Counter h2 {
  font-size: 32px;
}

.AboutImage {
  width: 100%;
}

.AboutText {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  color: #033568;
  padding-right: 10px;
  margin-top: 0;
}

.SliderProducts {
  padding-bottom: 60px;
}

.ProductInfo {
  color: #333;
  font-family: "Open Sans", sans-serif;
}

.IconBox {
  padding: 25px 30px;
  width: 30%;
  margin-left: 40px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(68, 88, 144, 0.2);
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.IconBox:first-child {
  margin-left: 0;
}

.IconBox::before {
  content: "";
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.IconBox:hover::before {
  background: #4bdff3;
  top: 0;
  border-radius: 0px;
}

.IconWrap {
  margin-bottom: 15px;
}

.Icon {
  color: #4bdff3;
  font-size: 80px !important;
  line-height: 1;
  transition: all 0.5s ease-in-out;
}

.title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #162680;
  margin-top: 0;
}

.description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: #162680;
}

.IconBox:hover .title,
.IconBox:hover .description {
  color: #fff;
}

.IconBox:hover .Icon {
  color: #fff;
}

.OurAdvantagesRow {
  display: flex;
  margin-bottom: 80px;
}

.ProductDescription {
  position: absolute;
  bottom: 20px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ProductItemWrap {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ProductInfo p {
  margin: 3px 0;
}

@media screen and (max-width: 480px) {
  .LandingContainer {
    margin-top: 50px;
  }
  .HeaderWrap {
    padding-left: 20px;
    padding-top: 90px;
    height: 40vh;
  }
  .HeaderTitle {
    font-size: 32px !important;
  }
  .HeaderText {
    font-size: 18px !important;
    width: 90%;
  }
  .AboutText {
    font-size: 16px;
    text-align: justify;
  }
  .OurAdvantagesRow {
    flex-direction: column;
  }
  .IconBox {
    padding: 25px 30px;
    width: 80%;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .CounterWrap {
    display: flex;
    padding: 30px 0;
    height: 140px;
  }
  .Counter {
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .Counter:last-child {
    width: 48%;
  }
  .Counter h1 {
    font-size: 32px;
  }
  .Counter h2 {
    font-size: 16px;
  }
  .FooterRight h1 {
    margin-left: 20px;
  }
  .FooterRight li:last-child {
    padding: 0;
  }
  .FooterContainer {
    margin-top: 40px;
    width: 100%;
    height: 710px;
  }
  .FooterRight,
  .FooterMiddle {
    padding-top: 0;
  }
  .FooterContainer h1 {
    margin: 5px 0;
    font-size: 28px;
  }
  .FooterList a div,
  .FooterList a {
    margin: 0;
  }
  .Author p {
    margin: 0;
    margin-left: 20px;
  }
}

.Checkmark {
  color: green;
}

.Cancel {
  color: red;
}
