@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
.HeaderWrap {
  padding-left: 140px;
  padding-top: 100px;
  height: 37.3vh;
  background: linear-gradient(to right, #0575e6, #400ccc);
}

.HeaderTitle {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.HeaderText {
  color: #fff;
  width: 45%;
}

.SectionTitle {
  font-family: "Itim", cursive;
  color: "#3f51b5";
  padding-bottom: 30px;
  font-size: 56px;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}
