.HeaderWrap {
  padding-left: 140px;
  padding-top: 100px;
  height: 37.3vh;
  background: linear-gradient(to right, #0575e6, #400ccc);
}

.HeaderTitle {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.HeaderText {
  color: #fff;
  width: 45%;
}

.SectionTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 30px;
}
